footer {
    background-color: var(--colorOscuro);
}

.footer_superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_img {
    width: 6rem;
    height: 5.7rem;
    margin: 20px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: var(--colorClaro);
    font-size: larger;
    margin: 20px;
    padding: 0px;
}

.botones-footer {
    font-size: small;
    color: var(--colorClaro);
    text-decoration: none;
    padding: 5px;
    border-radius: 12px;
    transition: 0.2s;
}

.botones-footer:hover {
    padding: 5px 10px;
    margin-left: 15px;
    background-color: var(--colorOscuro);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.445);
    color: var(--colorClaro);
    transition: 0.2s;
}

.footer_inferior {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.footer_inferior p {
    color: var(--colorClaro);
}

@media (min-width: 600px) {
    .footer_superior {
        flex-direction: row;
    }
    .nav-footer {
        align-items: flex-start;
    }
}
