@import url("./normalize.css");
@import url("./header.css");
@import url("./footer.css");

* {
  box-sizing: border-box;
}

:root {
  --colorOscuro: #3b3440;
  --colorClaro: #f2ebd5;
  --colorCafeClaro: #f2c185;
  --colorCafe: #bf8f73;
  --colorCafeOscuro: #8c5954;
}

/* Estilo para el boby */

body {
  margin: 0;
}
